<div class="container">
  <h1>Asunto detail</h1>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputFirstName">Folio:</label>

      <div class="controls">
       <span>{{asunto.folio}}</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputLastName">Origen:</label>
      <div class="controls">
        <input type="text" id="inputLastName" ng-model="asunto.origen"/>
      </div>
    </div>

     <div class="control-group">
      <label class="control-label" for="inputLastName">Status:</label>
      <div class="controls">
        <input type="text" id="inputLastName" ng-model="asunto.status.status_nombre"/>
      </div>
    </div>

     <div class="control-group">
      <label class="control-label" for="inputLastName">Descripcion:</label>
      <div class="controls">
        <input type="text" id="inputLastName" ng-model="asunto.descripcion"/>
      </div>
    </div>


     <div class="control-group">
      <label class="control-label" for="inputLastName">Peticion:</label>
      <div class="controls">
        <input type="text" id="inputLastName" ng-model="asunto._peticion.nombre"/>
      </div>
    </div>


     <div class="control-group">
      <label class="control-label" for="inputLastName">calle:</label>
      <div class="controls">
        <input type="text" id="inputLastName" ng-model="asunto.direccion_reporte.calle"/>
      </div>
    </div>

  <div class="control-group">
      <label class="control-label" for="inputLastName">colonia:</label>
      <div class="controls">
        <input type="text" id="inputLastName" ng-model="asunto.direccion_reporte.colonia"/>
      </div>
    </div>



    <div class="control-group">
      <div class="controls">
        <a ng-click="cancel()" class="btn btn-small">cancel</a>
        <a ng-click="updateAsunto()" class="btn btn-small btn-primary">guardar</a>
      </div>
    </div>
  </form>
</div>