<div class="container">

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputFirstName">Folio:</label>

      <div class="controls">
       <span>{{asunto.folio}}</span>
      </div>
    </div>


     <div class="control-group">
      <label class="control-label" for="inputLastName">Status:</label>
      <div class="controls">
        <input type="text" id="inputLastName" ng-model="asunto.status.status_nombre"/>
      </div>
    </div>

     <div class="control-group">
      <label class="control-label" for="inputLastName">Descripcion:</label>
      <div class="controls">
        <input type="text" id="inputLastName" ng-model="asunto.descripcion"/>
      </div>
    </div>

       <div class="row">
              <div class="input-field col s6">
                  <input type="text" id="inputLastName" ng-model="asunto.origen"/>
              </div>
               <div class="input-field col s6">
                   <angucomplete id="ex1"
                  placeholder="Peticion"
                  selectedobject="asunto.peticion"
                  localdata="peticiones"
                  searchfields="nombre"
                  titlefield="nombre"
                  inputclass="form-control form-control-small"/>
              </div>
      </div>





     <div class="row">
              <div class="input-field col s6">
                      <input type="text" id="inputLastName" ng-model="asunto.direccion_reporte.calle"/>

              </div>
               <div class="input-field col s6">
                    <input type="text" id="inputLastName" ng-model="asunto.direccion_reporte.colonia"/>
              </div>
      </div>

  {{map.dynamicMarkers}}
    <div id="map_canvas">
  <ui-gmap-google-map 
     center='map.center' 
     zoom='map.zoom'
     dragging="map.dragging"
     bounds="map.bounds"
     events="map.events"
     options="map.options"
     pan="true"
     control="map.control">
      <ui-gmap-marker idKey="map.mexiIdKey" models="map.dynamicMarkers[0]" coords="'self'" icon="'icon'" click="onMarkerClicked" ></ui-gmap-marker>
  </ui-gmap-google-map>
 </div>





    <div class="control-group">
      <div class="controls">
        <a ng-click="cancel()" class="btn btn-small">cancel</a>
        <a ng-click="updateAsunto()" class="btn btn-small btn-primary">guardar</a>
      </div>
    </div>
  </form>
</div>