<div id="listado">
    Busqueda:
    <input ng-model="$ctrl.query" />
    <table class="highlight">
        <thead>
            <tr>
                <th></th>
                <th>Semaforo</th>
                <th>Status</th>
                <th>Folio</th>
                <th>Hora</th>
                <th>Origen</th>
                <th>descripcion</th>
                <th>peticion</th>
                <th>direccion</th>
                <th></th>
            </tr>
         </thead>
        <tr ng-repeat="asunto in todos | filter:$ctrl.query">
            <td>Hace {{ asunto.fecha | amDifference : null : 'hours' }} Horas</td>
            <td><div ng-class='colorSemaforo(asunto.fecha | amDifference : null : "days", asunto._peticion.dias)'>s</td>
            <td>{{ asunto.status.status_nombre }}</td>
            <td>{{ asunto.folio }}</td>
            <td>{{ asunto.fecha | date:'HH:mm'}} Hrs</td>
            <td>{{ asunto.origen }}</td>
            <td>{{ asunto.descripcion }}</td>
            <td>{{ asunto._peticion.nombre }}</td>
            <td>{{ asunto.direccion_reporte.calle + " " + asunto.direccion_reporte.numero + " " + asunto.direccion_reporte.colonia }}</td>
            <td>
                <button class="btn btn-small" type="submit" ng-click="editAsunto(asunto._id)">Detalles</button>
            </td>
            <td>
                <button class="btn btn-small" type="submit" ng-click="deleteAsunto(asunto._id,$index)">borrar</button>
            </td>
        </tr>
    </table>

      <a ng-click="crearAsunto()" class="btn btn-small">Nuevo asunto</a>

</div>
